header {
	opacity: 0.8;
	width: 100%; 
	height: 70px; 
	background-color: black; 
	position: fixed-top;
}

body{
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0; 
	padding: 0;
	background-color: #ff6961;
}

#home {
	margin-left: 800px;
}

#home-his {
	margin-left: 800px;
}


a{
	position: relative;
	color: white;	
	text-decoration:none;
	font-family: "helvetica";
	margin: 5px;
	/*border: 1px solid black;*/	
	padding: 5px;
	margin-top: 220px;
}

a:hover{
	color: grey;	
}

#logo{
	margin-left: 10px;
	margin-top:10px;
	display: inline;
	height: 50px;
	width: 60px;
	/*border: 1px solid black;*/
}

#content{
	display: block;
	background-color: black;
	width: 1600px;
	height: 500px;
}

#main{
	margin-top: 100px;
	margin-left: 370px;
	width: 50%;
	height: 50%;
	/*border-radius: 100px;*/
	background-color: black;
	background-width: 100%
}

footer{
	margin-top: 100px;
	position: relative;
	width: 100%;
	height: 70px;
	background-color: black;
	bottom: 0px;
	color: white;
	font-family: "helvetica";
	padding-top: 20px;
	padding-left: 100px;
	display: inline-block;
}
	
#conteudo{
	display: inline-block;
	margin-top: 20px;
	padding-left: 100px;

}

#celimg{
	margin-top: 20px;
	margin-left: 20px;
	max-width: 500px;
}

span{
	margin-left: 20px;
}
